
@model TaskManagementSystem.ViewModel.TaskViewModel

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "/Views/Shared/_Layout1.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />


    <link rel="stylesheet" href="/css/Adminlayout.css">
    <link rel="stylesheet" href="~/css/Admintaskmgmt.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <!-- font-awesome link -->


</head>
<body>

    <!-- userlist-title-section start here -->
    <div class="createtask-container-section">
        <form asp-action="Create" class="createtask-from-section">
            <div asp-validation-summary="ModelOnly" class="errormessage"></div>
            <div class="createtask-firstrow-section">
                <div class="taskfrom">
                    <label asp-for="TaskName">Task Name</label>
                    <input asp-for="TaskName" type="text" class="task-form-input">
                    <span asp-validation-for="TaskName" class="errormessage"></span>

                </div>
                <div class="taskfrom">
                    <label asp-for="TaskDescription" class="control-label"></label>
                    <input asp-for="TaskDescription" class="task-form-input" />
                    <span asp-validation-for="TaskDescription" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="AssignedDate" class="control-label"></label>
                    <input asp-for="AssignedDate" class="task-form-input" />
                    <span asp-validation-for="AssignedDate" class="errormessage"></span>
                </div>

                <div class="taskfrom">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input asp-for="DueDate" class="task-form-input" />
                    <span asp-validation-for="DueDate" class="errormessage"></span>
                </div>
            </div>


            <div class="createtask-secondrow-section">
                <div class="taskfrom">
                    <label asp-for="AssignedById"></label>
                    <select asp-for="AssignedById" class="task-form-input" asp-items="@(new SelectList(Model.Assignedby, "Value","Text"))">
                    </select>
                    <span asp-validation-for="AssignedById" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="AssignedToIds"></label>
                    <div class="multi-drop">
                        <select asp-for="AssignedToIds" id="my-select" multiple data-live-search="true" asp-items="@(new SelectList(Model.AssignedTo, "Value","Text"))">
                        </select>
                    </div>

                    <span asp-validation-for="AssignedToIds"></span>
                </div>

                <div class="taskfrom">
                    <label asp-for="Taskstatus"></label>
                    <select asp-for="Taskstatus" class="task-form-input" asp-items="Html.GetEnumSelectList<Taskstatus>()">
                        <option disabled>Select Taskstatus</option>
                    </select>
                    <span asp-validation-for="Taskstatus" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="TaskCompletedDate"></label>
                    <input asp-for="TaskCompletedDate" class="task-form-input" />
                    <span asp-validation-for="TaskCompletedDate" class="errormessage"></span>
                </div>

            </div>

            <div class="createtask-thirdrow-section">

                <div class="taskfrom">
                    <label asp-for="CreatedDate"></label>
                    <input asp-for="CreatedDate" class="task-form-input" />

                    <span asp-validation-for="CreatedDate" class="errormessage"></span>
                </div>
                <div class="taskfrom">
                    <label asp-for="TaskCatogoriesId"></label>
                    <select asp-for="TaskCatogoriesId" class="task-form-input" asp-items="@(new SelectList(Model.TaskCategories, "Value", "Text"))">
                        <option disabled>Select Taskstatus</option>
                    </select>
                    <span asp-validation-for="TaskCatogoriesId" class="errormessage"></span>
                </div>
                <div class="container-btn">
                    <input type="submit" value="Create" class="createbtn btn" />
                </div>
            </div>
        </form>
    </div>
    <!-- </div> -->
    <!-- add-user section end here -->
    <!-- </div> -->
    <!-- userlist-main-container end here  -->
    <!-- userlist-wrapper start -->
    @*<script src="/Javascript/adminlayout.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha512-TqmAh0/sSbwSuVBODEagAoiUIeGRo8u95a41zykGfq5iPkO9oie8IKCgx7yAr1bfiBjZeuapjLgMdp9UMpCVYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script>
        $('#my-select').selectpicker();
    </script>
}


