@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* ---------------------------------overall website color define =--------------------- */
:root {
    --bg-color: #222d32;
    /* --bg-color: #004c6d; */
    /* --border-color: #d3d3d3; */
    --border-color: whitesmoke;
    --sidebar-color: #1a2226;
}
/* --------------------------------css for mobile device---------------------------- */
.wrapper {
    height: 100vh;
    width: 100vw;
}

/* Style the sidenav links and the dropdown button */
.sidenav-subheader a,
.sidenav-header,
.sidenav-header-tag a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 22px;
    /* color: #818181; */
    color: white;
    /* background-color: white; */
    display: block;
    border: none;
    text-align: center;
    border-bottom: 2px solid #0db8de;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

    .sidenav-subheader a:hover,
    .sidenav-header:hover,
    .sidenav-container a:hover {
        background-color: #0c4f8f;
    }

/* Add an active class to the active dropdown button */

.active,
a.active {
    background-color: #0c4f8f;
    /* background-color: red; */
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.sidenav-subheader {
    display: none;
    /* background-color: var(--bg-color); */
    padding-left: 8px;
}

    .sidenav-subheader a {
        font-size: 20px;
    }

/* Optional: Style the caret down icon */
.fa-caret-down,
.fa-chevron-right {
    float: right;
    padding-right: 8px;
}

/* new end */
.sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: var(--sidebar-color);
    height: 100vh;
    width: 205px;
    transition: all 0.5s ease;
    color: white;
    transform: translateX(-100%);
    overflow-x: hidden;
}

.sidebar-company-logo-section {
    display: grid;
    place-items: center;
    margin-bottom: 3em;
    height: 76px;
    width: 100%;
    border-bottom: 2px solid #0db8de;
}

    .sidebar-company-logo-section img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        background: white;
        border-radius: 50%;
        padding: 0.3em;
    }

.sidebar-close-btn {
    position: absolute;
    top: 20%;
    right: 5%;
    background: unset;
    border: unset;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}

.sidebar.showsidebar {
    transform: translateX(0%);
}

.main-container {
    height: 100vh;
    width: 100%;
    /* background-color: var(--border-color); */
    background-color: whitesmoke;
}

.main-container-header-section {
    width: 100%;
    /* height: 80px; */
    height: 10.5%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    place-items: center;
}

.main-container-sidebar-btn {
    height: 30px;
    width: 30px;
    background-color: unset;
    /* color: #0db8de; */
    color: white;
    /* background: -webkit-linear-gradient(#27ef9f, #0db8de); */
    border: unset;
    cursor: pointer;
    font-size: 2em;
    transition: all 0.2s linear;
}

.main-container-manage-account {
    border-radius: 10px;
    /* border-color: #0db8de; */
    color: #0db8de;
    border: 1px solid #0db8de;
    padding: 0.5em;
    width: 80%;
    /* color: black; */
    display: block;
    margin: 0 auto 0em auto;
    background-color: unset;
    font-weight: bold;
    cursor: pointer;
}

    .main-container-manage-account a {
        color: unset;
        background-color: unset;
        text-decoration: none;
    }
/* 
.fa-chevron-right {
  transition: all 0.2s linear;
} */
.fa-bars {
    transition: all 0.2s linear;
}

    .fa-bars.down {
        transform: rotate(90deg);
        transition: all 0.2s linear;
    }
/* .main-container-sidebar-btn.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
} */
.main-container-image-section h1 {
    display: none;
}

.main-container-image-section img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
}

.main-container-logout-section {
    position: absolute;
    top: 10%;
    right: 4%;
    height: 312px;
    width: 260px;
    background-color: var(--bg-color);
    border-radius: 3%;
    text-align: center;
    display: none;
    z-index: 1000;
    border: 1px solid var(--border-color);
}

    .main-container-logout-section.show {
        display: block;
    }

    .main-container-logout-section h3 {
        font-size: 1em;
        margin-bottom: 0.5em;
        font-weight: bold;
        color: #6c6c6c;
    }

.main-container-user-profile-img {
    display: grid;
    place-items: center;
    margin: 2em 0 1.2em 0;
}

    .main-container-user-profile-img img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-fit: contain;
    }

.main-container-logout-section-close-btn {
    position: absolute;
    top: 10%;
    left: 7%;
    background: unset;
    border: unset;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    /* color: white; */
    color: #0db8de;
}

.main-container-user-email {
    color: #949393;
}

.main-container-logout-btn {
    width: 105px;
    height: 2em;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1em;
    background-color: unset;
    padding: unset;
    cursor: pointer;
    border-radius: 11px;
    border: 1px solid #0db8de;
    margin: 1.5em auto;
    color: #0db8de;
}

.main-container-logout-footer-section {
    border-top: 1px solid var(--border-color);
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .main-container-logout-footer-section h3 {
        margin: 0 0 0 0;
        color: #949393;
        font-weight: bold;
        font-size: 1em;
    }

.main-container-title-section {
    width: 100vw;
    height: 60px;
    background-color: white;
    padding: 1em;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.main-container-create-section {
    padding: 0 1em;
    border-radius: 7px;
}

.main-container-create-section-btn {
    background-color: var(--bg-color);
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em;
    border: unset;
    margin-bottom: 1em;
}

.main-container-search-section {
    padding: 0 1em;
}

.main-container-search-section-form {
    display: grid;
    grid-template-columns: 85% 15%;
}

.main-container-search-box {
    font-size: 1em;
    padding: 0.5em;
    border: unset;
    margin-right: 0.5em;
}

.main-container-search-btn {
    font-size: 1em;
    border: unset;
    cursor: pointer;
    background-color: var(--bg-color);
    color: white;
}

@media screen and (min-width: 768px) {
    .main-container-image-section {
        display: flex;
        height: auto;
    }

        .main-container-image-section h1 {
            display: inline-block;
            color: white;
            font-size: 0.8em;
            margin: auto 1em auto auto;
        }

        .main-container-image-section img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            object-fit: contain;
        }

    .main-container-logout-section {
        position: absolute;
        top: 10.5%;
        right: 2%;
        height: 260px;
        width: 270px;
        background-color: var(--bg-color);
        border-radius: 3%;
        text-align: center;
        display: none;
    }

        .main-container-logout-section h3 {
            font-size: 1em;
            margin-bottom: 0.5em;
            font-weight: bold;
        }

    .main-container-user-profile-img {
        display: grid;
        place-items: center;
        margin: 1em 0 0.6em 0;
    }

        .main-container-user-profile-img img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: contain;
            margin:auto;
            
        }

    .main-container-logout-btn {
        width: 105px;
        height: 2em;
        display: block;
        font-weight: bold;
        font-size: 1em;
        background-color: unset;
        padding: unset;
        cursor: pointer;
        border-radius: 11px;
        border: 1px solid #0db8de;
        margin: 1.2em auto;
        color: #0db8de;
    }

    .main-container-logout-footer-section {
        border-top: 1px solid #0db8de;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .main-container-logout-footer-section h3 {
            margin: 0 0 0 0;
            color: #6c6c6c;
            /* color: #949393; */
            font-weight: bold;
            font-size: 1em;
        }

    .main-container-search-create-section {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    /*------------------------------------------------ userlist 992px css start here --------------------------*/
    .wrapper {
        height: 100vh;
        width: 100vw;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        /* width: 225px; */
        width: 15%;
        background: var(--sidebar-color);
        /* transform: translateX(0%); */
        transition: unset;
        z-index: 1;
        transition: all 0.5s ease;
        overflow: visible;
    }

    .icon {
        font-size: 25px;
        margin: 0 0.2em;
    }

    .fa-chevron-right {
        transition: all 0.2s linear;
    }

        .fa-chevron-right.down {
            transform: rotate(90deg);
            transition: all 0.2s linear;
        }

    .sidebar-close-btn {
        display: none;
    }

    .sidebar.hide {
        /* transform: translateX(-100%); */
        width: 4%;
        overflow: hidden;
    }

    .nav-text a {
        text-decoration: none;
        color: white;
    }

    .nav-text.hide {
        display: none;
    }

    .sidenav-header.hide {
        display: none;
    }

    .main-container {
        width: 86%;
        /* width: calc(100% - 225px);*/

        margin-left: 15%;
        transition: all 0.5s ease;
    }

        .main-container.active {
            margin-left: 4%;
            width: 96%;
        }

    .main-container-logout-section {
        position: absolute;
        top: 10.5%;
        right: 1%;
        height: 260px;
        width: 270px;
        background-color: white;
        border-radius: 3%;
        text-align: center;
        display: none;
    }

    .main-container-title-section {
        width: 100%;
    }
    .main-container-user-profile-img img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: contain;
        margin:auto;
    }
}

@media screen and (min-width: 1400px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 15%;
        background: var(--sidebar-color);
        transform: translateX(0%);
        transition: unset;
        z-index: 1;
        transition: all 0.5s ease;
        overflow: visible;
    }

    .main-container {
        /* width: calc(100% - 15%); */

        width: 85%;
        transition: all 0.5s ease;
    }

    .main-container-logout-section {
        position: absolute;
        top: 11.5%;
        right: 1%;
        height: 310px;
        width: 270px;
        background-color: var(--bg-color);
        border-radius: 3%;
        text-align: center;
        display: none;
        color: white;
        border: unset;
        /* box-shadow: 8px 8px 8px #888888; */
    }
}
